.note {
  &__list {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin: 10px 17px 0 0;
    width: 30%;
    background: white;
    height: 150px;
    position: relative;
    &-pink {
      background: #fc8ed7;
    }
    &-blue {
      background: #96eeb9;
    }
    &-white {
      background: #e6e6e6;
    }
    &-yellow {
      background: #f2f954;
    }
    p {
      font-size: 1.2rem;
      color: #2c2f33;
      text-transform: capitalize;
      padding: 15px;
    }
  }
  &__delete {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #d11c12;
    color: #fff;
    top: 5px;
    right: 5px;
  }
}
@media screen and (max-width: 780px) {
  .note {
    &__item {
      margin: 10px 0;
      width: 100%;
      height: 70px;
    }
  }
}
