header {
  margin: 40px auto;
  h1 {
    text-align: center;
    color: #6d28f1;
    text-transform: capitalize;
    font-size: 4rem;
    text-shadow: 5px 5px 8px #505050;
    letter-spacing: 2px;
  }
}
